/*
@scribe "Border colors"

<template>
  <div class="alert-warning ba pa2 {{class}}"></div>
</template>
*/

.b--green {
  border-color: green;
}

.b--blue {
  border-color: blue;
}

/*
@scribe "Border widths"

<template>
  <div class="ba pa2 {{class}}"></div>
</template>
*/

.b--solid {
  border-width: 5px;
}

/*
@scribe "Flex"

<template>
  <div></div>
</template>
*/

.flex {

}