<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>purple3 Documentation</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.herokucdn.com/purple3/latest/purple3.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/color-brewer.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script src="https://cdn.rawgit.com/bendc/anchor-scroll/master/scroll.min.js"></script>

  <style>
    .sidebar, .content {
      padding-top: 65px;
    }

    .header a:hover {
      background-color: rgba(0,0,0,0.1);
    }
  </style>
</head>
<body>
  <div class="header bg-gradient-secondary w-100 db fixed z-1 shadow-outer-1 white f4 flex">
    <a href="index.html" class="b white link flex items-center ph3">
      <img src="images/purple-logo.svg" alt="">
    </a>
    <a href="documentation.html" class="b white link pv4 ph2">Documentation</a>
    <a href="index.html" class="b white link pv4 ph2">Examples</a>
    <a href="index.html" class="b white link pv4 ph2">Icon system</a>
    <div class="flex-auto"></div>
    <a href="index.html" class="b white link pv4 ph2">design.herokai.com</a>
  </div>

  <div class="">
    <div class="content w-100 pa3 ph5-ns bg-white">
      {{.DocsContents}}
    </div>
  </div>
</body>
</html>